############
## YOURLS
############

# Configuration
# -> gushorter: we want configuration
#user/*
# we do not want the secret configuration:
user/config.php
# we want htaccess:
#.htaccess
#*.config
#*.conf
# we want robots
#[Rr]obots.txt

# Languages
user/languages/*
!user/languages/

# Plugins
# -> gushorter: We want plugins
#user/plugins/*
# Core plugins
!user/plugins/hyphens-in-urls/
!user/plugins/random-bg/
!user/plugins/sample-page/
!user/plugins/sample-plugin/
!user/plugins/sample-toolbar/

# Pages
#pages/*
#!pages/examplepage.php

# Keep index.html
#!user/index.html
#!user/*/index.html

############
## Environnement
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store

# backup crap
*~
